body {
    background: url(assets/WIM-Bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Product Sans';
    
}

#logo {
    width: 200px;
    margin-left: 42%;
    margin-top: 10%;
}

#title {
    text-align: center;
    font-weight: 100;
    color: white;
    font-size: 100px;
}