@font-face {
    font-family: PS-Reg;
    src: url(fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: PS-Light;
    src: url(fonts/ProductSans-Light.ttf);
}

@font-face {
    font-family: PS-Bold;
    src: url(fonts/ProductSans-Bold.ttf);
}

Html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}


body {
    background: url(assets/WIM-Bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "PS-Reg";

}

.centered {
    position: relative;
}

.centered .middle {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.logo {
    background: url("assets/WIM-Logo.png") no-repeat center center;
    background-size: 30%;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    padding: 0 40vh 0 40vh;
}

.group2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vh;
    padding: 0 35vh 3vh 35vh;
}

.group2 i {
    background-color: transparent;
    padding: 10px;
    border-radius: 20%;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari & Chrome */
    transition-duration: 0.4s;
}

.group2 i:hover {
    color: #0049ff;
    background-color: white;
}

.group2 i:hover .hoverText{
    visibility: visible;
}

.title {
    text-align: center;
    font-weight: 100;
    font-family: "PS-Light";
    color: white;
    font-size: 7vw;
    letter-spacing: 5px;
    margin: 0;
    padding: 0 3vh;
}

#blueText{
    color: #37ffff;
}

#groupTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3vw;
}

#findMajor {
    color: #0049ff;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 45px 42vw 20px 42vw;
    border-radius: 25px;
    font-size: 1.5vw;
    text-align: center;
    font-family: "PS-Bold";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#findMajor:hover {
    background: -webkit-linear-gradient(0deg, #0099ff, #0000ff);
    color: white;
    font-size: 1.8vw;
    margin: 50px 40vw 30px 40vw;
}

#line {
    background-color: white;
    width: 20vw;
    height: 1px;
}

#ourMajor {
    margin: 0;
    font-size: 1vw;
    letter-spacing: 0.3vw;
    text-align: center;
    font-family: "PS-Light";
    color: white;
}


.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tooltipText {
    position: absolute;
    top: 150%;
    font-size: 1vw;
    opacity: 0;
    transition: all .5s;
    color: white;
    text-align: center;
    width: 200px;
}

.tooltip:hover .tooltipText{
    opacity: 1;
    transform: translateY(-10px);
}